@import './node_modules/colors/style';
@import "./config";

.button {
	background: $button-background;
	color: invert($button-background);
	border: 0;
	padding: $button-padding;
	border-radius: $button-border-radius;
	&.primary {
		background: $brand-primary;
		color: invert($brand-primary);
	}
	&.secondary {
		background: $brand-secondary;
		color: invert($brand-secondary);
	}
}